<div class="row">
	<div class="span4 main_text">
		<div id="rsperror" style="color:red"></div><br/>
		<table id="table_jsonProveedoresHasInformacionRequerida"></table>
		<div id="div_pager2"></div>
	</div>
</div>