<div class="div_center" id="div_comentarios">
	<div class="span5">
		<form id="comentarioForm" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
			<div class="form-group">
				<label class="col-sm-2 control-label" for="to">Para: </label>
				<input class="form-control input-xlarge" type="text" name="to" id="to" readonly />
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="text">Comentario: </label>
				<textarea class="form-control input-xlarge" name="text" id="text" rows="5"></textarea>
			</div>
			<div class="form-group">
				<input class="form-control input-xlarge" type="hidden" name="subject" id="subject" rows="5" value=""/>
				<input class="form-control input-xlarge" type="hidden" name="html" id="html" rows="5" value=""/>
			</div>
		</form>
	</div>
</div>