<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="#"><img src="public/img/boveda2_menu.png"></a>
			<div class="nav-collapse collapse">
				<ul class="nav" id="menuPrincipal">
				</ul>
				<div id="twitter-share" class="pull-right">
                    <a href="#mySesion" class="twitter-share-button" id="sesion"></a>
					|
					<a href="#logout"  class="twitter-share-button"  id="Salir">Salir</a>
                </div>
			</div>
		</div>
	</div>
</div>