<div class="div_center" id="div_sesion">
	<div class="span4">
		<form id="usuarioForm" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
			<div class="form-group">
				<label class="col-sm-2 control-label" for="usuario">Usuario: </label>
				<input class="form-control input-medium" type="text" name="usuario" id="usuario" readonly />
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="nombre">Nombre: </label>
				<input class="form-control input-medium" type="text" name="nombre" id="nombre" />
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="apellidoPaterno">Apellido Materno: </label>
				<input class="form-control input-medium" type="text" name="apellidoPaterno" id="apellidoPaterno" />
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="apellidoMaterno">Apellido Materno: </label>
				<input class="form-control input-medium" type="text" name="apellidoMaterno" id="apellidoMaterno" />
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="correoElectronico">E-Mail: </label>
				<input class="form-control input-medium" type="text" name="correoElectronico" id="correoElectronico" />
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="password">Password: </label>
				<input class="form-control input-medium" type="password" name="password" id="password" />
				<input class="form-control input-medium" type="hidden" name="estatus" id="estatus" value="1"/>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="confirmaPassword">Confirma Password: </label>
				<input class="form-control input-medium" type="password" name="confirmaPassword" id="confirmaPassword" />
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for=""></label><button type="button" id="button_sesion" class="btn form-control">Enviar</button>
			</div>
		</form>
	</div>
</div>